	#link1{
										background:url("./images/pet.jpeg");
										background-size:cover;
										background-position:top;
										background-repeat:no-repeat;
										
								}
									#link2{
										background:url("./images/lion.jpeg");
										background-size:cover;
										background-position:top;
										background-repeat:no-repeat;
										
								}
									#link3{
										background:url("./images/shark.jpeg");
										background-size:cover;
										background-position:top;
										background-repeat:no-repeat;
										
								}
									#link4{
										background:url("./images/mellion.jpeg");
										background-size:cover;
										background-position:top;
										background-repeat:no-repeat;
										
								}
									#link5{
										background:url("./images/Butterfly1.jpeg");
										background-size:cover;
										background-position:top;
										background-repeat:no-repeat;
										
								}
									#link6{
										background:url("./images/tiger.jpeg");
										background-size:cover;
										background-position:top;
										background-repeat:no-repeat;
										
								}
								
